/*COMMON*/
:root {
  --main-bg-color: #ede6da;
  --main-btn-bg-color: #515D56;
  --main-areaField-bg-color: #D2D7C6;
  --main-area-bg-color: #FBF9F8;
  --main-area-font-color: #5E716A;
  --main-btn-font-color: #D2D7C6;
  --main-font-black: #363636;
  --main-list-border-black: #363636;
  
  
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-btn-bg-color);
  color: var(--main-font-black) ;
  
  
}


a {
  text-decoration: none;
}

textarea {
  resize: none;
}


.btn {
  border: solid 3px var(--main-font-black);
  background-color: var(--main-btn-bg-color);
  color: var(--main-btn-font-color);
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: .4s;
  
  &:hover {
    scale: 1.2;
  }
}






.container {  
  padding: 12px;
  background-color: var(--main-areaField-bg-color);
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--main-font-black);
}

.container .areaField {
  flex-direction: row;
  align-items: center;
  
}

.container .area { 
  width: 200px;
  height: 11px;
  background-color: var(--main-area-bg-color);  
  color: var(--main-area-font-color);
  
}

.container .todoLists {  
  flex-direction: column;
  justify-content: space-between;
  padding: 1px;
  border: solid 3px black;
  border-radius: 5px;
}

.container .todoList {  
  padding: 1px;
}

.btn-delete {

}

.list {
  width: 200px;
  color: var(--main-font-black);
  padding: 5px 10px; 
  margin: 1px;
  border: solid 1px var(--main-list-border-black);
  background-color: var(--main-area-bg-color);
  border-radius: 5px;
  text-align: center;
  color: var(--main-area-font-color);
}
