/*COMMON*/
:root {
  --main-bg-color: #ede6da;
  --main-btn-bg-color: #515D56;
  --main-areaField-bg-color: #D2D7C6;
  --main-area-bg-color: #FBF9F8;
  --main-area-font-color: #5E716A;
  --main-btn-font-color: #D2D7C6;
  --main-font-black: #363636;
  --main-list-border-black: #363636;
  
  
  
}

.face {
  transition: .4s;
  &:hover {
    font-size: 40px;
  }
}
 
header {
  display: flex;
  justify-content: center;
  
  
}

.headerText { 
  background-color: var(--main-areaField-bg-color);
  margin: 5px;
  padding: 0px 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-btn-bg-color);
  color: var(--main-font-black);
  
  
  
}


a {
  text-decoration: none;
}

textarea {
  height: 11px;
  resize: none;
  border-radius: 5px;
  overflow: hidden;  
  background-color: var(--main-area-bg-color);  
  color: var(--main-area-font-color);
  border: none;
  overflow: hidden;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

img {
  width: 50px;
  height: 50px;
  transition: .4s;
  &:hover{
    scale: 1.2;
  }
}

#text {
  cursor: pointer;
  padding: 5px 10px; 
  margin: 1px 10px;
  border: solid 1px var(--main-list-border-black);
  background-color: var(--main-area-bg-color);
  border-radius: 5px;
  text-align: center;
  color: var(--main-area-font-color);
}

  


.img-footer {
  margin-left: 1px;
  margin-bottom: -6px;
  width: 30px;
  height: 30px;
  padding-left: 3px;
}


.btn {
  border: solid 3px var(--main-font-black);
  background-color: var(--main-btn-bg-color);
  color: var(--main-btn-font-color);
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: .4s;
  z-index: 9;
  
  &:hover {
    scale: 1.2;
  }
}






.container {  
  z-index: 1;
  padding: 12px;
  background-color: var(--main-areaField-bg-color);
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--main-font-black);
}

.container .areaField {
  flex-direction: row;
  align-items: center;
  
}

.container .area { 
  width: 200px;
  height: 11px;
  background-color: var(--main-area-bg-color);  
  color: var(--main-area-font-color);
  
  
  
}

.sortButtons {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-areaField-bg-color);
}

.container .todoLists {  
  margin: 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
  border: solid 3px var(--main-list-border-black);
  border-radius: 5px;
}

.container .todoList {  
  padding: 1px;
}

.input-check {
  transition: .4s;
  &:hover {
    scale: 1.2;
  }
}

.input-check:checked {
  accent-color: var(--main-btn-bg-color);
}

.list {
  display: flex;
  flex-direction: row;
  width: 310px;
  padding: 0px 0px; 
  margin: 1px;
  border: solid 1px var(--main-list-border-black);
  background-color: var(--main-area-bg-color);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}


.listArea {
  padding-right: 8px;
  padding-top: 12px;
  font-size: 15px;
  border: none;
  text-align: center;
  vertical-align: middle;
  height: 30px;
  width: 290px;
  position: initial;
  color: var(--main-area-font-color);
}


.list-Background {
  height: 44px;
  width: 110px;
  background-color: var(--main-area-bg-color);
  right: 0%;
  translate: -40px;
  
}

.checked {
  /* background-color: red; */
  background-image: url(/public/images/osume-purple.png);
  background-repeat: no-repeat;
  background-size: 82px;
  background-position: right;
  scale: 1.0;
  
}

.container-notice {
  padding-top: 63px;
}